# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo

# Logs
*.log

# Configurações locais
*.userosscache
*.userprefs

# Backup e arquivos temporários
*.bak
*.tmp
*.temp

# Pacotes NuGet
*.nupkg
packages/

# Arquivos de publicação
publish/

# Teste e cobertura
TestResults/
*.coverage
*.coveragexml

# Outros
*.dbmdl
